$primary: #3f0050;
$secondary: #00B89F;
$purple: #8F00B5;
$green : #028170;
$gray: #ccc;
$warning: #cbab58;
$danger: #f7786b;
$success: #00E68A;  
$gradientPrimary: #00B89F;
$gradientSecondary: #8F00B5;
$black: black;
$white: white;
