// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #3f0050;
$darkPrimary: #3f0050;
$hover: #5f5c5c;
$secondary: #00b89f;
$gray: #ccc;
$white: #ffffff;;
$warning: #cbab58;
$danger: #f7786b;
$textBlue: #007bff;
$gradientPrimary: #00B89F;
$gradientSecondary: #495AAA;
$gradientSecondary: #8F00B5;
// height
$height: 8vh;
$black: black;
$white: white;