// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #3f0050;
$darkPrimary: #3f0050;
$hover: #ccc;
$secondary: #22B173;
$gray: #ccc;
$white: #ffffff;;
$warning: #cbab58;
$danger: #f7786b;
$textBlue: #007bff;
// height
$height: 8vh;